<div id="sobre" class="sobre">
  <div class="primeiro-bloco">
    <div class="titulo-primeiro-bloco">
      TREINOS PREPARADOS POR UM ESPECIALISTA
    </div>
    <div class="texto-primeiro-bloco">
      <span>
        MAIS DE 10 ANOS DE ATUAÇÃO NA ÁREA, COM FOCO EM MUDANÇA DE HÁBITOS E ADESÃO AO
        EXERCICIO FÍSICO. TE AJUDAREI A SAIR DO SEDENTARISMO E ALCANÇAR A SUA
          <span style="font-family: Gotham-Bold, sans-serif">MELHOR VERSÃO </span>
        DE FORMA EFICIENTE E ASSESSORADA.
      </span>
    </div>
    <img class="foto-6" ngSrc="foto-6.png" [height]="352" [width]="686" [priority]="true" alt="Saulo ajudando uma pessoa a treinar biceps com halteres"/>
  </div>

  <div class="segundo-bloco">
    <div class="titulo-segundo-bloco">
      CONTEÚDOS PARA VOCÊ TREINAR DE FORMA EFICIENTE, SEM DÚVIDAS NEM CONFUSÃO.
    </div>
    <div class="texto-segundo-bloco">
      <ol>
        <li>CLIQUE EM “COMECE AGORA” E REALIZE SEU PAGAMENTO DE FORMA RÁPIDA E SEGURA;</li>
        <li>AGUARDE NOSSO EMAIL CONFIRMANDO SEU PAGAMENTO E DANDO ACESSO AO CONTEÚDO ESPECIALIZADO;</li>
        <li>VOCÊ PODERÁ ACESSAR TODAS AS PASTAS E VÍDEOS DE INSTRUÇÕES PARA SEU TREINO NO SEU GOOGLE DRIVE;</li>
        <li>EM QUALQUER DÚVIDA, VOCÊ PODERÁ ENTRAR EM CONTATO CONOSCO A PARTIR DO WHATSAPP OU EMAIL.</li>
      </ol>
        COMIGO, VOCÊ VAI FOCAR SUAS ENERGIAS EM
      <span style="font-family: Gotham-Bold, sans-serif"> TREINAR. </span>
        EU CUIDO DO RESTO.
      <p>
        NÃO PERCA MAIS TEMPO, GARANTA AGORA ESTA OPORTUNIDADE PARA MUDAR A SUA VIDA.
    </div>
  </div>
</div>
