.home {
  font-family: Gotham-Book, sans-serif;
  position: relative;
}

.primeira-parte {
  position: relative;
  background-color: var(--cinza);
  padding-bottom: 101px;
  margin-top: -60px;
  padding-top: 200px;
  z-index: -100;
}

.foto-24 {
  object-position: 80%;
  mix-blend-mode: multiply;
  object-fit: cover;
  z-index: -101;
}

.segunda-parte {
  background-color: var(--preto);
  box-shadow: 0 0 20px 20px var(--preto), 0 20px 20px 20px var(--preto);
  z-index: -99;
}
.terceira-parte {
  position: relative;
  background-color: var(--cinza);
  padding-top: 60px;
  padding-bottom: 60px;
  margin-top: -60px;
  z-index: -100;
}

.foto-27 {
  object-position: right;
  mix-blend-mode: multiply;
  object-fit: cover;
  z-index: -101;
}

.quarta-parte {
  background-color: var(--azul);
  padding-top: 60px;
  margin-top: -60px;
  box-shadow: 0 0 20px 20px var(--azul);
  z-index: 103;
}
