<div class="home">
  <div class="primeira-parte">
    <app-header></app-header>
    <app-wpp></app-wpp>
    <app-apelo-1></app-apelo-1>
    <app-sobre></app-sobre>
    <app-apelo-2></app-apelo-2>
  </div>
  <div class="segunda-parte">
    <app-servico></app-servico>
  </div>
  <div class="terceira-parte">
    <app-apelo-3></app-apelo-3>
    <app-depoimentos></app-depoimentos>
    <app-apelo-4></app-apelo-4>
  </div>
  <div class="quarta-parte">
    <app-footer></app-footer>
  </div>



  <!--  <img ngSrc="foto-27.png" />
  <div class="fundo-azul-1"></div>
  <div class="blur-azul-2"></div>
  <div class="blur-escuro-1"></div>
  <div class="fundo-escuro"></div> -->
</div>
