<div class="home">
  <app-header></app-header>
  <app-wpp></app-wpp>
  <app-apelo-1></app-apelo-1>
  <app-sobre></app-sobre>
  <app-apelo-2></app-apelo-2>
  <app-servico></app-servico>
  <app-apelo-3></app-apelo-3>
  <app-depoimentos></app-depoimentos>
  <app-apelo-4></app-apelo-4>
  <app-footer></app-footer>
  <!--



  <img class="foto-27" src="foto-27.png" />
  <img class="foto-24" src="foto-24.png"/>
  <div class="fundo-azul-1"></div>
  <div class="blur-azul-2"></div>
  <div class="blur-escuro-1"></div>
  <div class="fundo-escuro"></div> -->
</div>
