<div id="footer" class="footer-container">
  <div class="footer">
    <div class="contatos">
      <div class="numero">(61) 9 9322-1873</div>
      <div class="email"> contato&#64;SauloOliveira.com.br
      </div>
      <div class="endereco">Rua 7, quadra 26, lote 18, Stº André, <br/> Anápolis - GO - CEP. 75.125-470</div>
      <div class="redes-sociais">
        <img ngSrc="instagram.png" [height]="32" [width]="32" loading="lazy" alt="Icone do instagram"/>
        <div class="saulo-oliveira">&#64;SauloOliveira</div>
        <img ngSrc="facebook.png" [height]="32" [width]="32" loading="lazy" alt="Icone do facebook"/>
        <div class="saulo-oliveira">&#64;SauloOliveira</div>
      </div>
    </div>
    <img class="logo-fa" ngSrc="logo-fa.png" [width]="686" [height]="287" loading="lazy"/>
  </div>
</div>
