<div id="servico" class="servico-container">
  <div class="servico">
    <div class="titulo-servico">CONHEÇA O MEU SERVIÇO</div>
    <div class="servico-grupo">
      <div class="treino-especializado">
        <img class="gym" ngSrc="gym.png" [height]="150" [width]="74" loading="lazy" alt="icone de um halter"/>
        <div style="text-align: center; font-family: Gotham-Medium, sans-serif">TREINO ESPECIALIZADO</div>
        <div>
          <ul>
            <li>EFICIENTE</li>
            <li>EXPLICADO E SEM CONFUSÃO</li>
            <li>PLANEJADO POR UM ESPECIALISTA</li>
          </ul>
        </div>
      </div>
      <div class="satisfacao-garantida">
        <img class="satisfaied" ngSrc="satisfaied.png" [height]="150" [width]="150" loading="lazy" alt="icone de satisfação" />
        <div style="text-align: center; font-family: Gotham-Medium, sans-serif">SATISFAÇÃO GARANTIDA</div>
        <div>
          <ul>
            <li>ACESSO DIRETO DO CELULAR</li>
            <li>ATUALIZAÇÕES CONSTANTES</li>
            <li>CONTATO COM O PERSONAL</li>
          </ul>
        </div>
      </div>
      <div class="pagamento-facilitado">
        <img class="cash" ngSrc="cash.png" [height]="150" [width]="150" loading="lazy" alt="icone de moeda de dinheiro" />
        <div style="text-align: center; font-family: Gotham-Medium, sans-serif">PAGAMENTO FACILITADO</div>
        <div>
          <ul>
            <li>PAGAMENTO ÚNICO</li>
            <li>PIX OU CARTÃO</li>
            <li>SEGURO</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
